* {
    margin: 0;
    padding: 0;
}

:root {
    --lightGray: #D9D9D9;
    --darkGray: #393939;
}

body {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 1rem;
}

.container {
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 500px;
    height: 500px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.square {
    box-sizing: border-box;
}

.grid {
    border: 1px solid #d3d3d3;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 180px;
    height: 8px;
    background-color: #131313;
    outline: none;
    opacity: 0.7;
    border-radius: 8px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--lightGray); 
    cursor: pointer;
    border-radius: 16px;
}
  
.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: var(--lightGray);
    cursor: pointer;
}

.controlPanel {
    background-color: var(--darkGray);
    width: 500px;
    height: 124px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.colorInput {
    visibility: hidden;
}

.roundButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.labelButton {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.controlBasic {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
    margin: 16px;
    width: 180px;
}

.toolDivisor {
    width: 2px;
    height: 96px;
    background-color: var(--lightGray);
}

.controlTools {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 16px;
    gap: 12px;
}

.eraserTool {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.eraserTool > label {
    cursor: pointer;
}

.controlExtra {
    background-color: var(--lightGray);
    width: 120px;
    height: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.extraButton {
    background-color: var(--darkGray);
    color: white;
    border: none;
    padding: 8px;
    width: 90px;
    border-radius: 16px;
    cursor: pointer;
}